doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Maps++
    link(rel='stylesheet', href='./css/app.css')
  body
    h1 Maps++

    #controls
        input#place(type='text', autofocus=true, placeholder='Zip Code')
        button#add Add

    #map

    #charts

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAAfntNVeQ7gvVbJZHg3dOZJsKnu_nI3Gs&sensor=true')
    script(src='http://www.amcharts.com/lib/3/amcharts.js')
    script(src='http://www.amcharts.com/lib/3/serial.js')
    script(src='http://www.amcharts.com/lib/3/themes/none.js')
    script(src='./js/es5/main.js')
    script(src='./js/es6/main.js')
